* {
    margin: 0px;
    padding:0px;
    font-family:sans-serif;
}


.wrapper {
    padding:1em;
}

.post {
    background:#fbfbfb;
    padding:1em;
    margin-bottom:1em;

}

.post img {
    width:100%;
}


.post a {
    background:#f0f0f0;
}