 <%- include('partials/header.ejs') %>
 <%- include('partials/nav.ejs') %>

  
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Road to Nowhere</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
      </div>
    </div>

     <%- include('partials/footer.ejs') %>
